@charset "UTF-8";
div{
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgba(15, 77, 15, 0.63);
}
div:hover{
    background-image: linear-gradient(to right, rgb(40, 40, 133), rgb(101, 101, 255));
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    gap: 10px;
}
